body {
  background-color:black;
  font-family:Verdana;
}
h1 {
  color:grey;
}
.slide {
  border-radius: 10px;
  
margin-bottom: 10px;
flex: 1;
justify-content: space-around;
  background-color: #FFF;
}

slideContent {
  padding: 15px;
}
